<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>modification</title>
    <link rel="stylesheet" href="../../static/layer/layui.css">
</head>
<body>
<div class="layui-input-block layui-form" id="modifyClass"
     lay-filter="updateClass" style="margin-top: 30px">
    <div th:if="${optionMessage}" th:text="${optionMessage}" style="text-align: center;color: #ffffff;margin-bottom: 1%;width: 25%;font-size: x-large;background-color: #fcd4dc" >qqq</div>
    <form id="modificationForm" class="layui-form" action="/org/modificationPost" method="post" enctype="multipart/form-data"> <!-- 提示：如果你不想用form，你可以换成div等任何一个普通元素 -->
        <div style="display: none">
            <input th:value="${record.recordsId}" type="text" name="recordsId">
        </div>

        <div class="layui-form-item">
            <label class="layui-form-label">图书名称</label>
            <div class="layui-input-inline">
                <input th:value="${record.recordsBookName}" type="text" name="bookName" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">出版社</label>
            <div class="layui-input-inline">
                <input th:value="${record.recordsBookPublisher}" type="text" name="publisherName" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">作者</label>
            <div class="layui-input-inline">
                <input th:value="${record.recordsBookAuthor}" type="text" name="author" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">版次</label>
            <div class="layui-input-inline">
                <input th:value="${record.recordsBookEdition}" type="text" name="edition" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">cip编号</label>
            <div class="layui-input-inline">
                <input th:value="${record.recordsBookCip}" type="text" name="cip" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">语言</label>
            <div class="layui-input-inline">
                <input th:value="${record.recordsBookLanguage}" type="text" name="language" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">书籍图片</label>
            <p>
                <label>
                    <input type="file" id="avart" onchange="uploadImage(this)" accept="image/*" name="avart" />
                </label>
            </p>
            <div style=" width:100px;vertical-align: middle;">
                <img th:src="@{${record.recordsBookCover}}" alt=""  style="max-width: 80%;max-height: 80%;border: none;margin-left: 100%;" id="imgeShow">
            </div>
        </div>
        <button type="submit" id="sub" style="display: none">提交</button>
    </form>

</div>
<script type="text/javascript">
    //验证
    if(typeof FileReader == 'undefined'){
        document.getElementById("avart").setAttribute("disabled","disabled")
    }
    function uploadImage(obj){
        var file = obj.files[0];
        var reader = new FileReader;
        reader.onload = function(e){
            console.log("读取成功");
            var img = document.getElementById("imgeShow");
            img.src = e.target.result;
        };
        reader.readAsDataURL(file);
    }
</script>
</body>
</html>