<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.CollectionMapper">
<select id="selectByUserId" parameterType="Long" resultType="com.example.demo.domain.Collection">
    select
        *
    from
        collections
    where
        collect_user_id = #{userid}
</select>
</mapper>