<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.UserMapper">
    <!-- Method: insert new User information into user table -->
    <insert id="NewUserRegister" parameterType="com.example.demo.domain.User" >
        Insert into users(
            user_nickname,user_phone,user_password,user_email,
            user_avatar,user_age,user_sex,) values(
            #{userNickname},#{userPhone},#{userPassword},
            #{userEmail},#{userAvatar},#{userAge},#{userSex})
    </insert>
    <!-- Method: select user by phone and password in user table and return an user object-->
    <select id="Login"  resultType="com.example.demo.domain.User">
        select
            *
        from
            users
        where
                user_phone = #{phone}
            and user_password = #{password}
    </select>
    <select id="SelectUserByName" parameterType="String" resultType="com.example.demo.domain.User">
        select
            *
        from
            users
        where
            user_name = #{userName}
    </select>
</mapper>