<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.mapper.UserMapper">
    <!-- Method: insert new User information into user table -->
    <insert id="NewUserRegister" parameterType="com.example.demo.domain.User" >
        Insert into user(
            user_name,user_phone,user_email,user_head_pic,
            user_level,user_password,user_age,user_sex,
            user_career,user_org) values(
            #{UserName},#{UserPhone},#{UserEmail},#{UserHeadPic},
            #{UserLevel},#{UserPassword},#{UserAge},#{UserSex},
            #{UserCareer},#{UserOrg})
    </insert>
    <!-- Method: select user by phone and password in user table and return an user object-->
    <select id="Login" parameterType="String" resultType="com.example.demo.domain.User">
        select
            *
        from
            user
        where
                user_phone = #{account}
            and user_password = #{password}
    </select>
    <select id="SelectUserByName" parameterType="String" resultType="com.example.demo.domain.User">
        select
            *
        from
            user
        where
            user_name = #{userName}
    </select>
</mapper>