.main-contan{
	position: absolute;
	top: 10%;
	width: 80%;
	height: 100%;
	margin-left: 10%;
	background-color: #EEEEEE;
}
.bookImage{
	position: relative;
	background-color: #00FFFF;
	top: 10%;
	margin-left: 10%;
	width: 30%;
	height: 40%;
}
.bookInfo{
	position: absolute;
	background-color: #33E8FF;
	top: 10%;
	margin-left: 45%;
	width:50% ;
	height: 40%;
}
.positionInfo{
	position: absolute;
	background-color: #33E8FF;
	top: 10%;
	margin-left: 45%;
	width:50% ;
	height: 40%; 
}
