<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head >
		<title>sharebook|buyConfirm</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/css/main.css" />
        <link rel="stylesheet" href="../static/css/mystyle.css">
        <link rel="stylesheet" href="../static/css/table.css">
        <script src="../static/js/jquery-3.6.0.js"></script>
	</head>
	<body class="about is-preload">
		<div id="page-wrapper">
			<!-- 页首部分 -->
				<section id="header" style="background-color: #EBEBEB;">
					<div class="container">
						<!-- Nav -->
							<nav id="nav" th:replace="fragments :: nav"></nav>
					</div>
				</section>
			<!-- 主要内容部分 -->
				<section id="main">
					<div class="container">
						<div id="content">
                            <!--标题-->
                            <div>订单确认进度条</div>
                            <!--地址选择-->
                            <div class="slice_line"></div>
                            <div>
                                <div class="order_check_area_title">请选择收货地址</div>
                                <!--遍历列出用户下所有地址-->
                                <div  class="full_flex">
                                    <!--地址信息区域-->
                                    <div th:each="address : ${locations}" class="location_area" style="background-image: url('../static/css/images/locationBg.png');">
                                        <div class="location_item_content">
                                            <div style="display: flex;margin-top: 1%">
                                                <div class="small_weight_font">收件人:</div>
                                                <div th:text="${address.addressRecipients}" class="small_font light_font">陈家俊</div>
                                            </div>
                                            <div class="location_line"></div>
                                            <div style="display: flex">
                                                <div class="small_weight_font" style="width: 25%">地址:</div>
                                                <div th:text="${address.addressInfo}+' '+${address.addressPhone}" class="small_font light_font">湖南省株洲市 </div>
<!--                                                <div th:text="" class="small_font light_font"> 13789083230</div>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slice_line"></div>
                            <!--确认订单信息-->
                            <div>
                                <div class="order_check_area_title">确认订单信息</div>
                                <div>
                                    <!--信息标题-->
                                    <div class="full_flex">
                                        <div class="order_book_info_title" style="width: 25%">书籍信息</div>
                                        <div class="order_book_info_title" style="width: 15%">单价(元/天)</div>
                                        <div class="order_book_info_title" style="width: 15%">数量</div>
                                        <div class="order_book_info_title" style="width: 15%"> 使用天数</div>
                                        <div class="order_book_info_title" style="width: 15%">邮费</div>
                                        <div class="order_book_info_title" style="width: 15%">小计</div>
                                    </div>
                                    <div th:each="item,orgList:${bookMap}"><!--这里遍历机构-->
                                        <div ><!--这里遍历机构书籍-->
                                            <!--店铺标题-->
                                            <div class="full_flex " style="border-bottom: 1px dotted #80b2ff;">
                                                <div  class="order_storeName">店铺:</div>
                                                <a th:text="${orgList.current.key}" class="order_storeName">时代云图</a>
                                            </div>
                                            <!--这里是返回一系列的付款图书，因为可能有许多图书要买-->
                                            <!-- item是遍历的标志，即键值对的键，bookStat为值，可以通过被遍历的值反过来获取到key,value-->
                                            <div th:each="item,bookList:${orgList.current.value}" class="full_flex store_book_contain" style="border-bottom: 1px dotted rgb(221, 221, 221);">
                                                <div style="width: 25%;display: flex">
                                                    <div style="width: 25%;">
                                                        <img th:src="${bookList.current.key.bookCover}" src="../static/css/images/upload-records.png"/>
                                                    </div>
                                                    <div th:text="${bookList.current.key.bookName}" style="font-size: small;margin-left: 2%;width: 80%;color: black">数据库基础</div>
                                                </div>
                                                <div th:id="${bookList.current.key.bookId}+'bookPrice'" th:text="${bookList.current.key.bookPrice}" class="store_book">0.25</div>
                                                <!--书籍数量-->
                                                <div th:id="${bookList.current.key.bookId}+'bookAmount'" th:text="${bookList.current.value}" class="store_book full_flex" style="padding: 4px">1</div>
                                                <!--使用天数-->
                                                <div class="store_book" style="padding: 4px">
                                                    <button name="days_minus" class="store_button" th:onclick="'javascript:changeDaysMinus('+${bookList.current.key.bookId}+')'">-</button>
                                                    <input th:id="${bookList.current.key.bookId}+'days'" class="store_amount_input" value="1">
                                                    <button name="days_plus" class="store_button"  th:onclick="'javascript:changeDaysPlus('+${bookList.current.key.bookId}+')'">+</button>
                                                </div>
                                                <div th:id="${bookList.current.key.bookId}+'postage'" class="store_book">8.00</div>
                                                <div  class="store_book flex_left" style="color: red;font-weight: 800" >
                                                    <div>￥:</div>
                                                    <div th:id="${bookList.current.key.bookId}+'curSubTotal'">1.25</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--附加信息-->
                                        <div class="full_flex plus_info" >
                                            <!--留言-->
                                            <div class="full_flex" style="margin: 5px;height: auto;">
                                                <div class="small_font">特殊留言:</div>
                                                <div style="width: 200px">
                                                    <textarea name="notice" type="text" class="notice_input" maxlength="50"></textarea>
                                                    <div class="text_count" style="background-color: white;margin-bottom: 5px">
                                                        <i ><span class="count-change">0</span>/50</i>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--费用计算-->
                                            <div class="full_flex flex_left" >
                                                <div class="small_font">合计费用(含运费):</div>
                                                <div class="small_pay_count">￥:1.25</div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--结算信息-->
                                    <div style="text-align: right;margin-top: 1%; ">
                                        <div class="settlement_area_shell">
                                            <div class="full_flex settlement_area flex_left">
                                                <div class="full_flex flex_left">
                                                    <div class="small_font">实付款</div>
                                                    <div class="big_pay_count">￥:9.5</div>
                                                </div>
                                                <div class="full_flex flex_left">
                                                    <div class="small_font">寄送至:</div>
                                                    <div>湖南省</div>
                                                </div>
                                                <div class="full_flex flex_left">
                                                    <div class="small_font">收件人:</div>
                                                    <div>陈家俊 13789083230</div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="full_flex flex_left">
                                            <button class="order_sub_btn">提交订单</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
			<!-- 页脚部分 -->
				<section id="footer" th:replace="fragments :: foot"></section>
                <div th:replace="fragments :: script"></div>
        </div>
    <script>
        $(function(){
            $('textarea').on('input propertychange', function(){
                var _length = $(this).val().length;
                $('.count-change').html(_length);
            });
        });

        //借阅天数增加按钮
        function changeDaysMinus(inputName) {
            var item = inputName+"days";
            // 改变input值
            var curVal = parseInt($("#"+item).val()) -1 ;
            if (curVal < 0)curVal=0;
            $("#"+item).val(curVal);
            //费用重新计算
            reCalculate(inputName,curVal);
        }

        //借阅天数减少按钮
        function changeDaysPlus(inputName) {
            var item = inputName+"days";
            // alert(item);
            var curVal =  parseInt($("#"+item).val()) +1;
            $("#"+item).val(curVal);
            reCalculate(inputName,curVal);
        }

        function reCalculate(inputName,curVal) {
            //计算邮费
            if (curVal > 30){
                $("#"+inputName+"postage").text("0.00");
            }
            else{
                $("#"+inputName+"postage").text("8.00");
            }
            //当前小计
            var originalCurSubTotal = parseFloat($("#"+inputName+"curSubTotal").text());
            //获取书籍价格
            var bookPrice = parseFloat($("#"+inputName+"bookPrice").text());
            //获取书籍数量
            var bookAmount = parseFloat($("#"+inputName+"bookAmount").text());
            $("#"+inputName+"curSubTotal").text(bookPrice*bookAmount);
        }

    </script>
	</body>
</html>