<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head >
		<title>sharebook|buyConfirm</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/css/main.css" />
        <link rel="stylesheet" href="../static/css/mystyle.css">
        <link rel="stylesheet" href="../static/css/table.css">
        <script src="../static/js/jquery-3.6.0.js"></script>
	</head>
	<body class="about is-preload">
		<div id="page-wrapper">
			<!-- 页首部分 -->
				<section id="header" style="background-color: #EBEBEB;">
					<div class="container">
						<!-- Nav -->
							<nav id="nav" th:replace="fragments :: nav"></nav>
					</div>
				</section>
			<!-- 主要内容部分 -->
				<section id="main">
					<div class="container">
						<div id="content">
                            <!--标题-->
                            <div>订单确认进度条</div>
                            <!--地址选择-->
                            <div class="slice_line"></div>
                            <div>
                                <div class="order_check_area_title">请选择收货地址</div>
                                <!--遍历列出用户下所有地址-->
                                <div  class="full_flex">
                                    <!--地址信息区域-->
                                    <div th:each="address : ${session.locations}" class="location_area" style="background-image: url('../static/css/images/locationBg.png');"
                                      th:data-rec="${address.addressRecipients}" th:data-phone="${address.addressPhone}" th:data-info="${address.addressInfo}" th:data-id="${address.addressId}"
                                         th:onclick="changeAddress(this.getAttribute('data-rec'),this.getAttribute('data-phone'),this.getAttribute('data-info'),this.getAttribute('data-id'))"
                                        th:id="${address.addressId}">
                                        <div class="location_item_content">
                                            <div style="display: flex;margin-top: 1%">
                                                <div class="small_weight_font">收件人:</div>
                                                <div th:text="${address.addressRecipients}" class="small_font light_font">陈家俊</div>
                                            </div>
                                            <div class="location_line"></div>
                                            <div style="display: flex">
                                                <div class="small_weight_font" style="width: 25%">地址:</div>
                                                <div th:text="${address.addressInfo}+' '+${address.addressPhone}" class="small_font light_font">湖南省株洲市 </div>
<!--                                                <div th:text="" class="small_font light_font"> 13789083230</div>-->
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="slice_line"></div>
                            <!--确认订单信息-->
                            <div>
                                <div class="order_check_area_title">确认订单信息</div>
                                <div>
                                    <!--信息标题-->
                                    <div class="full_flex">
                                        <div class="order_book_info_title" style="width: 25%">书籍信息</div>
                                        <div class="order_book_info_title" style="width: 15%">单价(元/天)</div>
                                        <div class="order_book_info_title" style="width: 15%">数量</div>
                                        <div class="order_book_info_title" style="width: 15%"> 使用天数</div>
                                        <div class="order_book_info_title" style="width: 15%">邮费</div>
                                        <div class="order_book_info_title" style="width: 15%">小计</div>
                                    </div>
                                    <div th:each="item,order:${session.orderMap}"><!--这里遍历机构-->
                                        <div ><!--这里遍历机构书籍-->
                                            <!--店铺标题-->
                                            <div class="full_flex " style="border-bottom: 1px dotted #80b2ff;">
                                                <div  class="order_storeName">店铺:</div>
                                                <a th:text="${order.current.key.orgName}" class="order_storeName">时代云图</a>
                                            </div>
                                            <!--这里是返回一系列的付款图书，因为可能有许多图书要买-->
                                            <!-- item是遍历的标志，即键值对的键，bookStat为值，可以通过被遍历的值反过来获取到key,value-->
                                            <div th:each="bookOrder:${order.current.value}" class="full_flex store_book_contain" style="border-bottom: 1px dotted rgb(221, 221, 221);">
                                                <div style="width: 25%;display: flex">
                                                    <div style="width: 25%;">
                                                        <img th:src="${bookOrder.bookPic}" src="../static/css/images/upload-records.png"/>
                                                    </div>
                                                    <div th:text="${bookOrder.bookName}" style="font-size: small;margin-left: 2%;width: 80%;color: black">数据库基础</div>
                                                    <div style="display: none" th:text="${bookOrder.bookId}" id="bookId"></div>

                                                </div>
                                                <div th:id="${bookOrder.bookId}+'bookPrice'" th:text="${bookOrder.bookPrice}" class="store_book">0.25</div>
                                                <!--书籍数量-->
                                                <div th:id="${bookOrder.bookId}+'bookAmount'" th:text="${bookOrder.bookAmount}" class="store_book full_flex" style="padding: 4px">1</div>
                                                <!--使用天数-->
                                                <div class="store_book" style="padding: 4px">
                                                    <button name="days_minus" class="store_button" th:onclick="'javascript:changeDaysMinus('+${bookOrder.bookId}+','+${order.current.key.orgId}+')'">-</button>
                                                    <input name="bookDay" th:id="${bookOrder.bookId}+'days'" class="store_amount_input" th:value="${bookOrder.bookDays}" th:onchange="'reCalculate('+${bookOrder.bookId}+',value,'+${order.current.key.orgId}+')'">
                                                    <button name="days_plus" class="store_button"  th:onclick="'javascript:changeDaysPlus('+${bookOrder.bookId}+','+${order.current.key.orgId}+')'">+</button>
                                                </div>
                                                <div  th:id="${bookOrder.bookId}+'postage'" class="store_book" th:text="${bookOrder.bookPostage}">8.00</div>
                                                <div  class="store_book flex_left" style="color: red;font-weight: 800" >
                                                    <div>￥:</div>
                                                    <div th:text="${bookOrder.curSubTotal}" th:id="${bookOrder.bookId}+'curSubTotal'" name="bookTotal">1.25</div>
                                                </div>
                                            </div>
                                        </div>
                                        <!--附加信息-->
                                        <div class="full_flex plus_info" >
                                            <!--留言-->
                                            <div class="full_flex" style="margin: 5px;height: auto;">
                                                <div class="small_font">特殊留言:</div>
                                                <div style="width: 200px">
                                                    <textarea name="notice" type="text" class="notice_input" maxlength="50"></textarea>
                                                    <div class="text_count" style="background-color: white;margin-bottom: 5px">
                                                        <i ><span class="count-change">0</span>/50</i>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--费用计算-->
                                            <div class="full_flex flex_left" >
                                                <div class="small_font">合计费用(含运费):</div>
                                                <div th:text="${order.current.key.orgCurSubTotal}" th:id="${order.current.key.orgId}" class="small_pay_count" name="orgTotal">￥:1.25</div>
                                            </div>
                                        </div>
                                    </div>

                                    <!--结算信息-->
                                    <div style="text-align: right;margin-top: 1%; ">
                                        <div class="settlement_area_shell">
                                            <div class="full_flex settlement_area flex_left">
                                                <div class="full_flex flex_left">
                                                    <div class="small_font">实付款</div>
                                                    <div>￥:</div>
                                                    <div id="totalSub" th:text="${orderSub}" class="big_pay_count">9.5</div>
                                                    <form id="subForm">
                                                        <input id="totalSubInput" name="totalSub"  th:value="${orderSub}" style="display: none" required="required">
                                                    </form>
                                                </div>
                                                <div class=" flex_left" >
                                                    <div class="small_font" style="width: 20%">地址:</div>
                                                    <div id="locationInfo"></div>
                                                </div>
                                                <div class="full_flex flex_left" style="width: 80%">
                                                    <div class="small_font">收件人:</div>
                                                    <div id="recipient"></div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="full_flex flex_left">
                                            <button class="order_sub_btn" onclick="submitBookInfo()" id="subBtn" type="submit">提交订单</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
			<!-- 页脚部分 -->
				<section id="footer" th:replace="fragments :: foot"></section>
                <div th:replace="fragments :: script"></div>
        </div>
    <script>
        window.onload=function(){
            //未选择地址时按钮设置不可用
            $("#subBtn").attr("disabled","true");
        }

        $(function(){
            $('textarea').on('input propertychange', function(){
                var _length = $(this).val().length;
                $('.count-change').html(_length);
            });
        });

        //借阅天数增加按钮
        function changeDaysMinus(inputName,subId) {
            var item = inputName+"days";
            // 改变input值
            var curVal = parseInt($("#"+item).val()) -1 ;
            if (curVal < 1)curVal=1;
            $("#"+item).val(curVal);
            //费用重新计算
            reCalculate(inputName,curVal,subId);
        }

        //借阅天数减少按钮
        function changeDaysPlus(inputName,subId) {
            var item = inputName+"days";
            // alert(item);
            var curVal =  parseInt($("#"+item).val()) +1;
            $("#"+item).val(curVal);
            reCalculate(inputName,curVal,subId);
        }

        //改变订单信息时进行金额的重新计算
        function reCalculate(inputName,curVal,subId) {
            //计算邮费
            if (curVal > 30){
                $("#"+inputName+"postage").text("0.00");
            }
            else{
                $("#"+inputName+"postage").text("8.00");
            }
            //变更前的当前小计
            var originalCurSubTotal = parseFloat($("#"+inputName+"curSubTotal").text());
            //获取邮费
            var bookPostage = parseFloat($("#"+inputName+"postage").text());
            //获取书籍价格
            var bookPrice = parseFloat($("#"+inputName+"bookPrice").text());
            //获取书籍数量
            var bookAmount = parseFloat($("#"+inputName+"bookAmount").text());
            //更新该行的结算信息
            $("#"+inputName+"curSubTotal").text(bookPrice*bookAmount*curVal+bookPostage);
            //更新当前店铺的结算信息
            var change = parseFloat(parseFloat($("#"+inputName+"curSubTotal").text())-originalCurSubTotal);
            //获取原机构的总计
            var originalOrgSubTotal = parseFloat($("#"+subId).text());
            $("#"+subId).text(originalOrgSubTotal+change);
            //获取原总计
            var originalTotalSub = parseFloat($("#totalSub").text());
            $("#totalSub").text(originalTotalSub+change);
            $("#totalSubInput").val(originalTotalSub+change);
        }

        //选中地址改变总结算栏信息
        var lastLocation = "";
        function changeAddress(rec,phone,info,divId) {
            if (lastLocation != ""){
                $("#"+lastLocation).css({"border":"none"})
            }
            //显示选中的边框
            $("#"+divId).css({"border":"2px solid #ff0036"});
            //记住上一次选中的id
            lastLocation = divId;
            //改变结算界面的内容
            $("#locationInfo").text(info);
            $("#recipient").text(rec+" "+phone);
            //结算按钮设置为可用
            $("#subBtn").removeAttr("disabled");
            // //传入地址id
            // $("#orderLocation").val(divId);
        }
        
        function submitBookInfo() {
            //回传的书籍数组
            var bookIds = [];
            //回传的数量数组
            var bookDays = [];
            //回传机构订单备注信息
            var orgNotices = [];
            //回传机构订单金额
            var orgTotals = [];
            //回传地址
            var location = [];
            //获取所有同名元素的值
            var bookId = $('[id=bookId]');
            var bookDay = $('[name=bookDay]');
            var orgNotice = $('[name=notice]');
            var orgTotal = $('[name=orgTotal]');
            //书籍信息组装
            for(var i = 0;i < bookId.length;i++){
                bookIds.push($(bookId).text());
                bookDays.push($(bookDay).val());
            }
            //机构订单信息
            location.push(lastLocation);
            for(var i = 0;i<orgNotice.length;i++){
                orgNotices.push($(orgNotice).val());
                orgTotals.push($(orgTotal).text());
            }

            //结果封装
            var orderResult = [];
            orderResult.push(bookIds);
            orderResult.push(bookDays);
            orderResult.push(orgNotices);
            orderResult.push(orgTotals);
            orderResult.push(location);


            alert(orderResult);


            //通过ajax请求将部分订单信息回传
            $.ajax({
                type:'post',
                url:'/order/buildOrderRecords',
                contentType:"application/json",
                data:JSON.stringify(orderResult),
                success:function (message) {
                    //subForm表单提交
                    var form = document.getElementById("subForm");
                    form.action="/order/settleOrder";
                    form.submit();
                }
            });


        }
    </script>
	</body>
</html>