<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head th:replace="fragments :: head(~{::title})">
		<title>sharebook|homepage</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/css/main.css" />
	</head>
	<body class="homepage is-preload">
		
		<div id="page-wrapper">

			<!-- 页首部分 -->
				<section id="header" >
					<div class="container">
						<!-- Logo -->
							<h1 id="title">夏         书|共享图书驿站</h1>
							<p>让	文	字	跨	过	千	山	万	水	来	见	你</p>
						<!-- Nav -->
							<nav id="nav" th:replace="fragments :: nav"></nav>
					</div>
				</section>

			<!-- 功能快速选择 -->
				<section id="features">
					<div class="container">
						<header>
							<h2>悦	读，从	夏	书	开	始  | <strong>Share Books</strong>!</h2>
						</header>
						<div class="row aln-center">
							<div class="col-4 col-6-medium col-12-small">

								<!-- 图书借阅 -->
									<section>
										<!--
                                        	作者：offline
                                        	时间：2021-02-21
                                        	描述：图书借阅功能宣传图
                                        -->
										<a href="borrowbook.html" class="image featured"><img src="../static/images/pic01.jpg" alt="" /></a>
										<header>
											<h3>图 书 借 阅</h3>
										</header>
										<p>阅读的最大理由是想摆脱平庸</p>
									</section>

							</div>
							<div class="col-4 col-6-medium col-12-small">

								<!-- 图书共享 -->
									<section>
										<!--
                                        	作者：offline
                                        	时间：2021-02-21
                                        	描述：图书上传共享功能宣传图
                                        -->
										<a href="#" class="image featured"><img src="../static/images/pic02.jpg" alt="" /></a>
										<header>
											<h3>图 书 上 传 共 享</h3>
										</header>
										<p>赠人玫瑰，手有余香</p>
									</section>

							</div>
							<div class="col-4 col-6-medium col-12-small">

								<!-- 书友圈 -->
									<section>
										<a href="#" class="image featured"><img src="../static/images/pic03.jpg" alt="" /></a>
										<header>
											<h3>书 友 社 区</h3>
										</header>
										<p>遥远的心，需要文字连接才能存活于现实的饥寒中</p>
									</section>

							</div>
							<div class="col-12">
								<ul class="actions">
									<li><a href="#" class="button icon solid fa-question">什么是夏书？</a></li>
								</ul>
							</div>
						</div>
					</div>
				</section>

			<!-- 活动宣传图 -->
				<section id="banner">
					<div class="container">
						<p>Coming soon</p>
					</div>
				</section>

            <!-- 页脚部分 -->
            <section id="footer" th:replace="fragments :: foot"></section>

		</div>

		<div th:replace="fragments :: script"></div>
	</body>
</html>