<!DOCTYPE html>
<html>
	<head>
		<title>sharebook|login</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/css/main.css" />
		<link rel="stylesheet" href="../static/css/style.css"/>
		<script type="text/javascript">
			window.onload=function(){
				//获取验证码输入框
				var checkinputdiv = document.getElementById("passdiv");
				//获取登录按钮
				var lgbtn = document.getElementById("lgbt");
				//获取账号输入框对象
				var account = document.getElementById("user");
				//获取密码输入框对象
				var paw = document.getElementById("pass");
				//获取验证码输入框
				var checkinput = document.getElementById("pass1");
                //获取登录表单
                var loginform = document.getElementById("loginform");
				/*
				 点击登录按钮的函数
				 * */
				lgbtn.onclick = function(){
					if(paw.value != "" && account.value != ""){
						//获取user输入框的内容
						var context = account.value;
						alert(context.length)
						switch(context.length){
							case 11:alert("读者");break;
							case 7:alert("机构-----我们将向您的密保邮箱发送一封验证码，注意查收");
							        var code = "<%=GetCode%>";
							        alert(code);
                                    loginform.action="/AdministratorLogin";
									checkinputdiv.style.display ="block";
									checkinput.required="required";
									break;
							case 5:alert("管理员-----我们将向您的密保邮箱发送一封验证码，注意查收");
									checkinputdiv.style.display ="block";
									checkinput.required="required";
									break;
							default:alert("错误");break;
						}
					}
				}
				
				document.getElementById("1").onclick = function(){
				    var code = "21t" ;
				    alert("test");
                   $.ajax({
                       url:"/SelectAllUser",
                       type:"GET",
                       datatype:"text",
                       error:function(){
                           alert("error")
                       },
                       success:function () {
                           code = this;
                           alert(this.type);
                       }
                   });
                }
				
			}
		</script>
	</head>
	<body class="login is-preload">
		<div id="page-wrapper">

			<!-- 页首部分 -->
				<section id="header" style="background-color: #EBEBEB;">
					<div class="container">

						<!-- Logo -->
							<h1 id="title">夏         书|共享图书驿站</h1>
							<p>让	文	字	跨	过	千	山	万	水	来	见	你</p>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li><a class="icon solid fa-home" href="homepage.html"><span>主页</span></a></li>
									<li><a class="icon solid fa-hand-holding" href="borrowbook.html"><span>图书借阅</span></a></li>
									<li><a class="icon solid fa-upload" href="uploadbook.html"><span>图书上传</span></a></li>
									<li><a class="icon solid fa-comment" href="readercommunity.html"><span>书友圈</span></a></li>
									<li><a class="icon solid fa-user" href="login.html"><span>登录</span></a></li>
									<li>
										<a href="#" class="icon fa-star"><span>更多</span></a>
										<ul>
											<li><a href="about.html">关于</a></li>
											<li><a href="useguide.html">使用向导</a></li>
											<li><a href="news.html">新闻</a></li>
											<li><a href="servicestatement.html">隐私条款声明</a></li>
											<li><a href="#">其他</a></li>
										</ul>
									</li>
								</ul>
							</nav>
					</div>
				</section>
            <button id="1" type="button">test</button>
			<!-- 主要内容部分 -->
				<section id="main" >
					<section class="login-wrap">
        <div class="main_w3agile">
            <input id="tab-1" type="radio" name="tab" class="sign-in" checked>
            <label for="tab-1" class="tab">登    录</label>
            <input id="tab-2" type="radio" name="tab" class="sign-up">
            <label for="tab-2" class="tab">注    册</label>
            <div class="login-form">

                <!-- signin form -->
                <div class="signin_wthree">
                    <form id="loginform" method="post" action="/UserLogin">
                        <div class="group">
                            <label for="user" class="label">用户名</label>
                            <input id="user" type="text" class="input" required="required" name="account">
                        </div>
                        <div class="group">
                            <label for="pass" class="label">密码</label>
                            <input id="pass" type="password" class="input" data-type="password" required="required" name="password">
                        </div>
                        <div class="group" id="passdiv" >
                            <label for="pass" class="label">验证码</label>
                            <input id="pass1" type="text" class="input" data-type="password" required="required" name="checkpassword">
                            <a >重新获取密码</a>
                        </div>
                        <div class="group">
                            <input id="check" type="checkbox" class="check" checked>
                            <label for="check">
                                <span class="icon"></span> 记住密码</label>
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="登录" id="lgbt">

                        </div>
                        <div class="hr"></div>
                        <div class="foot-lnk">
                            <h3><a href="#">忘记密码？</a></h3>
                        </div>
                    </form>
                </div>
                <!-- //signin form -->
                <!-- signup form -->
                <div class="signup_wthree">
                    <form method="post" action="#">
                        <div class="group">
                            <label for="user1" class="label">用户名</label>
                            <input id="user1" type="text" class="input" required>
                        </div>
                        <div class="group">
                            <label for="password1" class="label">密码</label>
                            <input id="password1" type="password" class="input" data-type="password" required>
                        </div>
                        <div class="group">
                            <label for="password2" class="label">重新输入密码</label>
                            <input id="password2" type="password" class="input" data-type="password" required>
                        </div>
                        <div class="group">
                            <label for="email" class="label">邮箱地址</label>
                            <input id="email" type="email" class="input" required>
                        </div>
                        <div class="group">
                            <input type="submit" class="button" value="开启悦读之旅">
                        </div>
                    </form>
                </div>
                <!-- //signup form -->
            </div>
        </div>
    </section>
				
				</section>
				
				
				
				
				
				
				
				
				
				

			<!-- 页脚部分 -->
				<section id="footer">
					<div class="container">
						<header>
							<h2>留着看以后干嘛</h2>
						</header>
					</div>
					<div id="copyright" class="container">
						<ul class="links">
							<li>&copy; chenjiajun所有，部分素材来自开源社区，仅供学习交流</li>
						</ul>
						<ul>&reg; S H A R E &nbsp;B O O K S ||&reg;夏 &nbsp;&nbsp;&nbsp;书</ul>
					</div>
				</section>

		</div>

		<!-- Scripts -->
			<script src="../static/js/jquery.min.js"></script>
			<script src="../static/js/jquery.dropotron.min.js"></script>
			<script src="../static/js/browser.min.js"></script>
			<script src="../static/js/breakpoints.min.js"></script>
			<script src="../static/js/util.js"></script>
			<script src="../static/js/main.js"></script>

	</body>
</html>