<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head th:replace="fragments :: head(~{::title})">
		<title>sharebook|about</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/css/main.css" />
	</head>
	<body class="about is-preload">
		<div id="page-wrapper">
			<!-- 页首部分 -->
				<section id="header" style="background-color: #EBEBEB;">
					<div class="container">
						<!-- Logo -->
							<h1 id="title">关于</h1>
						<!-- Nav -->
							<nav id="nav" th:replace="fragments :: nav"></nav>
					</div>
				</section>
			<!-- 主要内容部分 -->
				<section id="main">
					<div class="container">
						<div id="content">
							
							
						</div>
					</div>
				</section>
			<!-- 页脚部分 -->
				<section id="footer" th:replace="fragments :: foot"></section>
		</div>
        <div th:replace="fragments :: script"></div>
	</body>
</html>