<!DOCTYPE HTML>
<html xmlns:th="http://www.w3.org/1999/xhtml">
	<head th:replace="fragments :: head(~{::title})">
		<title>sharebook|readercomunity</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/css/main.css" />
        <link rel="stylesheet" href="../static/css/fontstyle.css">
	</head>
	<body class="readercomunity is-preload">
		<div id="page-wrapper">

			<!-- 页首部分 -->
				<section id="header">
					<div class="container">

						<!-- 标题 -->
							<h1 id="title">今夕复何夕，共此灯烛光</h1>
							
						<!-- 导航栏 -->
							<nav id="nav" th:replace="fragments :: nav"></nav>
					</div>
				</section>

			<!-- 主要内容部分 -->
				<section id="main">
					<div class="container">
						<div class="row">

							<!-- 左侧内容为书友圈随机挑选的书评，顶部配合有搜索框 -->
								<div id="content" class="col-8 col-12-medium" >
								</div>

							<!-- 右侧内容为个人信息简要 -->
								<div id="sidebar" class="col-4 col-12-medium">
										<section>
											<ul class="divided">
												<li>
														<article class="box highlight">
															<header>
																<h3>信   息|INFORMATION</h3>
                                                                <table>
                                                                    <tr>
                                                                        <td class="tabel-title">头像</td>
                                                                        <td th:src="${user.UserHeadPic}">null</td>
                                                                    </tr>
                                                                    <tr><td class="tabel-title">昵称</td>
                                                                        <td th:text="${user.UserName}" class="tabel-content">张三</td>
                                                                        <td class="tabel-title">等级</td>
                                                                        <td th:text="${user.UserLevel}" class="tabel-content">1</td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td class="tabel-title">关注</td>
                                                                        <td th:text="${user.UserFollowerCount}" class="tabel-content">0</td>
                                                                        <td class="tabel-title">粉丝</td>
                                                                        <td th:text="${user.UserFansCount}" class="tabel-content">0</td>
                                                                    </tr>
                                                                </table>
															</header>
															
															<ul class="actions">
																<li><a  class="button icon solid fa-file" id="myspace" href="/personalpage">我的空间</a></li>
															</ul>
                                                        </article>
												</li>
											</ul>
										</section>

								</div>

						</div>
					</div>
				</section>

			<!-- 页脚部分 -->
				<section id="footer" th:replace="fragments :: foot"></section>
		</div>
        <div th:replace="fragments :: script"></div>
	</body>
</html>