<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments :: head(~{::title})">
    <meta charset="UTF-8">
    <title>test</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../static/css/main.css" />
</head>
<body class="borrowbook is-preload">
<div id="page-wrapper">
    <!-- 页首部分  -->
    <section id="header">
        <div class="container">
            <!-- 标题 -->
            <h1 id="title">新的旅程从挑选一本书开始</h1>
            <nav th:replace="fragments :: nav">

            </nav>
        </div>
    </section>

    <!-- 页脚部分 -->
    <section id="footer" th:replace="fragments :: foot"></section>
</div>
</body>
</html>