<!DOCTYPE HTML>
<html>
	<head>
		<title>sharebook|useguide</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<link rel="stylesheet" href="../static/css/main.css" />
	</head>
	<body class="ussguide is-preload">
		<div id="page-wrapper">

			<!-- 页首部分 -->
				<section id="header" style="background-color: #EBEBEB;">
					<div class="container">

						<!-- Logo -->
							<h1 id="title">使用向导</h1>

						<!-- Nav -->
							<nav id="nav">
								<ul>
									<li><a class="icon solid fa-home" href="homepage.html"><span>主页</span></a></li>
									<li><a class="icon solid fa-hand-holding" href="borrowbook.html"><span>图书借阅</span></a></li>
									<li><a class="icon solid fa-upload" href="uploadbook.html"><span>图书上传</span></a></li>
									<li><a class="icon solid fa-comment" href="readercommunity.html"><span>书友圈</span></a></li>
                                    <li><a class="icon solid fa-user" href="login.html"><span>登录</span></a></li>
									<li>
										<a href="#" class="icon fa-star"><span>更多</span></a>
										<ul>
											<li><a href="about.html">关于</a></li>
											<li><a href="useguide.html">使用向导</a></li>
											<li><a href="news.html">新闻</a></li>
											<li><a href="servicestatement.html">隐私条款声明</a></li>
											<li><a href="#">其他</a></li>
										</ul>
									</li>
								</ul>
							</nav>
					</div>
				</section>

			<!-- 主要内容部分 -->
				<section id="main">
					<div class="container">
						<div id="content">
							
							
						</div>
					</div>
				</section>

			<!-- 页脚部分 -->
				<section id="footer">
					<div class="container">
						<header>
							<h2>留着看以后干嘛</h2>
						</header>
					</div>
					<div id="copyright" class="container">
						<ul class="links">
							<li>&copy; chenjiajun所有，部分素材来自开源社区，仅供学习交流</li>
						</ul>
						<ul>&reg; S H A R E &nbsp;B O O K S ||&reg;夏 &nbsp;&nbsp;&nbsp;书</ul>
					</div>
				</section>

		</div>

		<!-- Scripts -->
			<script src="../static/js/jquery.min.js"></script>
			<script src="../static/js/jquery.dropotron.min.js"></script>
			<script src="../static/js/browser.min.js"></script>
			<script src="../static/js/breakpoints.min.js"></script>
			<script src="../static/js/util.js"></script>
			<script src="../static/js/main.js"></script>

	</body>
</html>